데이터 구조 
대량의 데이터를 효율적으로 관리할 수 있는 구조를 데이터구조, 자료구조라고 한다. 
이 데이터를 효율적으로 관리하는 것은 바로 알고리즘!

[문제]
정수의 절댓값을 구하는 알고리즘을 짜시오.

In [21]:
def absfunction (self):
    if self > 0:
        return self
    else :
        return -self
    
result = []
for i in range(-10,11):
    result.append(absfunction(i))
result

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
result=[]
for i in range(-10,11):
    result.append(abs(i))
result

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Big O 표기법 
    알고리즘의 최악의 실행 시간을 표기함
오메가 표기법 
    알고리즘의 최상의 실행 시간을 표기함
세타 표기법 
    알고리즘의 평균 실행 시간을 표기함
    
빅 오 표기법 사용방법
O(1) : 상수시간. < O(log n) < O(n) < O(nlog n) < O(n^2) < O(n!)

In [24]:
result = 0
def sum_function (n):
    total = 0
    for num in range(1, n+1):
        total += num
    return total

O(n)의 시간이 걸림

In [30]:
def sum_function (n):
    return int(n * (n + 1) / 2)

O(1)의 시간이 걸림.

이처럼 같은 결과값을 가져오지만 어떤 알고리즘을 쓰냐에 따라 효율성이 달라진다.

# 배열 (Array)

In [34]:
# 1차원 배열 리스트로 구현. 
data = [1, 2, 3, 4]
print(data)

[1, 2, 3, 4]

In [36]:
# 2차원 배열 리스트로 구현.
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [41]:
# numpy를 이용한 array
import numpy as np
dd = np.array(data)
dd

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [44]:
# [문제] 2차원 배열에서 9,8,7 순서대로 출력해보기
print(dd[2][2], dd[2][1], dd[2][0])

9 8 7

In [55]:
# [문제] 다음 dataset에서 전체 이름 안에 M이 몇번 나왔는지 빈도수 출력.

dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

m_count = 0
for data in dataset:
    for index in range(len(data)):
        if data[index] == 'm':
            m_count += 1
m_count

21

# 큐

In [ ]:
가장 먼저 넣은 데이터를 가장 먼저 꺼낼 수 있는 구조.

In [ ]:
파이썬의 queue 라이브러리 이용하기!
Queue(): 가장 일반적인 큐 자료 구조
LifoQueue(): 나중에 입력된 데이터가 먼저 출력되는 구조 ( 스택 구조 )
PriorityQueue() : 데이터마다 우선순위를 넣어서, 우선순위가 높은 순으로 데이터 출력

In [2]:
import queue as q
data_queue = q.Queue()
data_queue.put("funcoding")

In [9]:
data_queue.put(909)

In [10]:
data_queue.qsize()

2

In [11]:
data_queue.get()

'funcoding'

In [12]:
data_queue.qsize()

1

In [13]:
data_queue.get()

909

In [14]:
data_queue.qsize()

0

In [16]:
# LifoQueue()로 큐 만들기 ( Last-in, First-Out ) 스택구조
data_queue = q.LifoQueue()
data_queue.put("funconding")
data_queue.put(988)

In [17]:
data_queue.qsize()

2

In [18]:
data_queue.get()

988

In [19]:
data_queue.qsize()

1

In [21]:
data_queue.get()

'funconding'

In [7]:
data = q.PriorityQueue()

In [8]:
data.put((10, "korea"))
data.put((5,1))
data.put((15, "china"))

In [25]:
data.qsize()

4

In [11]:
for i in range(0, data.qsize()):
    print(data.get())

(5, 1)
(10, 'korea')
(15, 'china')

In [ ]:
백준 알고리즘

In [20]:
# 1000번
a,b = input().split()
a = int(a)
b = int(b)
print(a+b)

1 5
6

In [ ]:
# 2558번 
a = int(input())
b = int(input())
print(a+b)

In [22]:
# 10950번
c = int(input())
for i in range(0,c):
    a,b=input().split()
    a=int(a)
    b=int(b)
    print(a+b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
1 3
4

In [25]:
# 10951번
while True:
    try:
        a, b = map(int, input().split())
        print(a+b)
    except:
        break

5 4
9
3 2
5
4 8
12
7

In [2]:
# 10952번
while True:
    a,b = input().split()
    if a == '0' and b == '0':
        break
    else:
        a=int(a)
        b=int(b)
        print(a+b)

1 5
6
4 5
9
0 0

In [2]:
# 10953번
num = int(input())
for i in range(0, num):
    a,b = input().split(',')
    a=int(a)
    b=int(b)
    print(a+b)

5
1,1
2
2,2
4
3,3
6
4,4
8
5,5
10

In [8]:
# 11021번
num = int(input())
for i in range(0, num):
    a,b = input().split()
    a=int(a)
    b=int(b)
    print('Case #'+str(i+1)+': '+str(a+b))

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

In [9]:
# 11022번
num = int(input())
for i in range(0, num):
    a,b = input().split()
    a=int(a)
    b=int(b)
    print('Case #'+str(i+1)+': '+str(a) + ' + ' + str(b) + ' = ' + str(a+b))

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5

ValueError: not enough values to unpack (expected 2, got 0)

In [11]:
# 15740번
while True:
    try:
        a, b = map(int, input().split())
        print(a+b)
    except:
        break

1 2
3
-60 40
-20
-999999999 1000000000
1
1099511627776 1073741824
1100585369600
z

In [ ]:
브루드포스

In [36]:
# 2798번
N,M = map(int,input().split())
num = list(map(int,input().split()))
select=[]

# 삼중 for문 매커니즘
for i in range(len(num)):
    for j in range(i+1, len(num)):
        for k in range(j+1, len(num)):
            select.append(num[i]+num[j]+num[k])
select = [i for i in select if i<=M]
if len(select)>0:
    print(max(select))

5 21
5 6 7 8 9
21

In [55]:
# 삼중 for문 매커니즘
a = ['a','b','c','d']
for i in a:
    for j in a:
        print(i + "+" + j + ',', end='')

a+a,a+b,a+c,a+d,b+a,b+b,b+c,b+d,c+a,c+b,c+c,c+d,d+a,d+b,d+c,d+d,

In [3]:
# 10773번
import queue as q 

num=int(input())
data = q.LifoQueue() #스택 자료형 설정.
sum_num = int(0) # int자료형에 초기값 0으로 지정.

for i in range(num):
    k = input()
    if k == '0': 
        data.get() # 스택 출력
    else:
        data.put(k) # 스택 입력
        
while True:
    if data.qsize() == 0:
        break
    else:
        j = int(data.get())
        sum_num = sum_num + j
        
print(sum_num)

4
3
0
4
0
0

In [6]:
# 10773번 두번째 풀이 ( 리스트-pop 활용 )
num = int(input())
A = []
for i in range(num):
    data = int(input())
    if data == 0:
        A.pop()
    else:
        A.append(data)
print(sum(A))

4
3
0
4
0
0

In [ ]:
sum_num

In [2]:
# 큐를 보는 방법
d = data.queue
print(d)

['1', '6']

In [23]:
# 9012번 혼자 푼 방법
n = int(input())
for i in range(n):
    left = int(0)
    right = int(0)
    data = list(input())
    
    for i in range(len(data)):
        k = data.pop()
        if k == ')':
            right += 1
        else:
            left += 1
            

    if right == left:
        print("YES")
    else:
        print("NO")

6
(())())
NO
(((()())()
NO
(()())((()))
YES
((()()(()))(((())))()
NO
()()()()(()()())()
YES
(()((())()(
NO

In [31]:
# 9012 번 다른풀이
n = int(input())
for i in range(n):
    count = 0
    data = list(input())
    
    for i in range(len(data)):
        k = data.pop()
        if k == ')':
            count += 1
        elif k == '(':
            count -= 1
        else:
            continue

    if count == 0:
        print("YES")
    else:
        print("NO")

3
((
NO
))
NO
())(()
YES

In [13]:
# 9012번 순서 배열
n = int(input())
vps = []
value=[]

for i in range(n):
    array = list(input())
    if array.count('(') == array.count(')'):
        for j in range(len(array)):
            if array[j] == '(':
                vps.append(array[j])
            elif vps and array[j] == ')':
                del vps[-1]
            else:
                value.append("NO")
                break
        if not vps: 
            value.append("YES")
    else:
        value.append("NO")
    
for i in value:
    print(i)

6
(())())
(((()())()
(()())((()))
((()()(()))(((())))()
()()()()(()()())()
(()((())()(
NO
NO
YES
NO
YES
NO

[백준 1874번 스택수열](https://www.acmicpc.net/problem/1874)

In [15]:
# 1874번 스택수열 ( 접근 포기.. )
n = 8
answer_list = [4,3,6,8,7,5,2,1]
numbers = sorted(answer_list, reverse=True)
stack = []
answer = []

for i in range(n):
    if stack[-1] == answer_list[i]
       answer.append(stack.pop())
    else:
    k = numbers.pop()
    stack.append(k)

[1874번 정답](https://claude-u.tistory.com/156)

In [16]:
# 1874번 스택수열 풀이
class Stack():

[8, 7, 6, 5, 4, 3, 2, 1]

In [43]:
participant = ['mislav', 'stanko', 'mislav', 'ana']
completion = ['stanko', 'ana', 'mislav']

In [39]:
# 프로그래머스 해시, 완주하지 못한 선수
# 1차 시도 오답.
def solution(participant, completion):
    for i in range(len(participant)):
        k = participant[i] in completion
        if k == 0:
            return participant[i]    
            break

    answer = participant[i] 
    return answer


solution(participant, completion)

'ana'

# 프로그래머스 해시, 완주하지 못한 선수 
# 해쉬값을 덧셈 뺄셈으로 이용한 답
def solution(participant, completion):
    answer = ''
    temp = 0
    dic = {}
    for part in participant:
        dic[hash(part)] = part
        temp += int(hash(part))
    for com in completion:
        temp -= hash(com)
    answer = dic[temp]

    return answer
solution(participant, completion)

In [71]:
    temp = 0
    dic = {}
    for part in participant:
        print(part)
        dic[hash(part)] = part
        temp += int(hash(part))
        print(temp)
    for com in completion:
        temp -= hash(com)
        print(temp)

mislav
-4444099891450032482
stanko
-1354827310542618385
mislav
-5798927201992650867
ana
-10378024922172692319
-13467297503080106416
-8888199782900064964
-4444099891450032482

In [66]:
dic

{-4444099891450032482: 'mislav',
 3089272580907414097: 'stanko',
 -4579097720180041452: 'ana'}

In [61]:
dic = {}
for i in range(len(participant)):
    dic[hash(participant[i])%2] = participant[i]
print(dic)

{0: 'ana', 1: 'stanko'}

In [35]:
for i in participant:
    print(i in completion)

True
True
True
True

In [22]:
participant = ['leo', 'kiki', 'eden']
completion = ['eden', 'kiki']

In [26]:
participant[0]

'leo'